{% extends "layout.html" %}
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li>Sign Up</li>
        </ol>
        <h2>Sign Up</h2>

      </div>
    </section><!-- End Breadcrumbs -->

      <div class="container">

            <!-- ======= Sign Up Section ======= -->
            <section id="contact" class="contact">
              <div class="container" data-aos="fade-up">

                <div class="section-title">
                  <h2 class="icon-size"><i class="icofont-users-alt-4"></i></h2>
                </div>

                <div class="row justify-content-center">

                  <div class="col-lg-5 col-md-7 d-flex align-items-stretch">
                    <div class="php-email-form">
                        <form method="post">
                            <div class="form-group">
                              <label>Enter your name</label>
                              {{ sign_up_form.name(class='form-control') }}
                              {% for error in sign_up_form.name.errors %}
                                <div>{{ error }}</div>
                              {% endfor %}
                            </div>
                            <div class="form-group">
                              <label>Enter your surname</label>
                              {{ sign_up_form.surname(class='form-control') }}
                              {% for error in sign_up_form.surname.errors %}
                                <div>{{ error }}</div>
                              {% endfor %}
                            </div>
                            <div class="form-group">
                              <label>Enter your email</label>
                              {{ sign_up_form.email(class='form-control') }}
                              {% for error in sign_up_form.email.errors %}
                                <div>{{ error }}</div>
                              {% endfor %}
                            </div>
                            <div class="form-group">
                              <label>Enter a password</label>
                              {{ sign_up_form.password(class='form-control') }}
                              {% for error in sign_up_form.password.errors %}
                                <div>{{ error }}</div>
                              {% endfor %}
                            </div>
                            <div class="text-center">
                              <button type="submit" value='{{ sign_up_form.submit() }}'>Sign Up</button>
                              {{ sign_up_form.hidden_tag() }}
                            </div>
                            <br><br>
                            <div class="text-center">Are you a Sport Club? Click <a href="{{ url_for('signup_sportclubs') }}">here</a>!</div>
                        </form>
                    </div>
                  </div>

                </div>

              </div>
            </section><!-- End Sign Up Section -->
      </div>

  </main><!-- End #main -->

{% endblock %}